<div class="mt-4">
    <h2>Add new product</h2>
    <form class="row g-3" method="POST" action="/products/store">
        <div class="col-md-12">
            <label for="name" class="form-label">Product name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="col-md-12">
            <label for="description" class="form-label">Decription</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="col-md-12">
            <label for="video" class="form-label">Video</label>
            <input type="text" class="form-control" id="video" name="video">
        </div>
        <div class="col-md-12">
            <label for="category" class="form-label">Category</label>
            <input type="text" class="form-control" id="category" name="category">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Add product</button>
        </div>
    </form>
</div>