<div class="main-container" id="container">

  <div class="overlay"></div>
  <div class="
  
  cs-overlay"></div>

  <!--  BEGIN SIDEBAR  -->

  <div class="sidebar-wrapper sidebar-theme">

    <div id="dismiss" class="d-lg-none"><i class="flaticon-cancel-12"></i></div>

    <nav id="sidebar">

      <ul class="navbar-nav theme-brand flex-row d-none d-lg-flex">
        <li class="nav-item d-flex">
          <a href="index.html" class="navbar-brand">
            <img src="assets/img/logo-3.png" class="img-fluid" alt="logo" />
          </a>
          <p class="border-underline"></p>
        </li>
        <li class="nav-item theme-text">
          <a href="index.html" class="nav-link"> Shoppe-fake </a>
        </li>
      </ul>

      <ul class="list-unstyled menu-categories" id="accordionExample">

        <li class="menu">
          <a
            href="#ecommerce"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
          >
            <div class="">
              <i class="flaticon-cart-2"></i>
              <span>Dashboard</span>
            </div>
            <div>
              <i class="flaticon-right-arrow"></i>
            </div>
          </a>
          <ul
            class="collapse submenu list-unstyled"
            id="ecommerce"
            data-parent="#accordionExample"
          >
            <li>
              <a href="ecommerce_orders.html"> Orders </a>
            </li>
            <li>
              <a href="ecommerce_product.html"> Products </a>
            </li>
            <li>
              <a href="ecommerce_product_catalog.html"> Product Catalog </a>
            </li>
            <li>
              <a
                href="#product-details"
                data-toggle="collapse"
                aria-expanded="false"
                class="dropdown-toggle"
                data-parent="#ecommerce"
              > Product Details <i class="flaticon-right-arrow"></i> </a>
              <ul
                class="collapse list-unstyled sub-submenu"
                id="product-details"
              >
                <li>
                  <a href="ecommerce_product_details_1.html">
                    Product Details 1
                  </a>
                </li>
                <li>
                  <a href="ecommerce_product_details_2.html">
                    Product Details 2
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="ecommerce_addedit_product.html"> Add/Edit Products </a>
            </li>
            <li>
              <a href="ecommerce_addedit_categories.html">
                Add/Edit Categories
              </a>
            </li>
            <li>
              <a href="ecommerce_view_cart.html"> View Cart </a>
            </li>
            <li>
              <a href="ecommerce_view_payments.html"> View Payments </a>
            </li>
            <li>
              <a href="ecommerce_view_customers.html"> View Customers </a>
            </li>
            <li>
              <a href="ecommerce_checkout.html"> Checkout </a>
            </li>
            <li>
              <a href="ecommerce_invoices.html"> Invoice </a>
            </li>
            <li>
              <a href="ecommerce_shipments.html"> Shipments </a>
            </li>
            <li>
              <a href="ecommerce_products_cart.html"> Products in Cart </a>
            </li>
            <li>
              <a href="ecommerce_coupons.html"> Coupons </a>
            </li>
            <li>
              <a href="ecommerce_low_stock.html"> Low Stock </a>
            </li>
            <li>
              <a href="ecommerce_best_sellers.html"> Best Sellers </a>
            </li>
            <li>
              <a href="ecommerce_refunds.html"> Refunds </a>
            </li>
            <li>
              <a href="ecommerce_search_terms.html"> Search Terms </a>
            </li>
            <li>
              <a href="ecommerce_newsletters.html"> Newsletters </a>
            </li>
            <li>
              <a href="ecommerce_wizards.html"> Payment Wizard </a>
            </li>
            <li>
              <a href="ecommerce_reviews.html"> Reviews </a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>

  </div>

  <!--  END SIDEBAR  -->

  <!--  BEGIN CONTENT PART  -->
  <div id="content" class="main-content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <h3>Products</h3>
                        <div class="crumbs">
                            <ul id="breadcrumbs" class="breadcrumb">
                                <li><a href="index.html"><i class="flaticon-home-fill"></i></a></li>
                                <li><a href="#">eCommerce</a></li>
                                <li class="active"><a href="#">Products</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="row margin-bottom-120">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-header">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                        <h4>Product List </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content widget-content-area">
                                <div class="table-responsive mb-4">
                                    <table id="ecommerce-product-list" class="table  table-bordered">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Image</th>
                                                <th>Name</th>
                                                <th>Type</th>
                                                <th>Category</th>
                                                <th>Sku</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th class="align-center">Status</th>
                                                <th class="align-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>0010</td>
                                                <td class="text-center">
                                                <a class="product-list-img" href="javascript: void(0);"><img src="assets/img/60x60.jpg" alt="product"></a></td>
                                                <td>CK Glasses</td>
                                                <td>Simple Product</td>
                                                <td>Glasses</td>
                                                <td>ITEM-0001</td>
                                                <td>$120.00</td>
                                                <td>80,000</td>
                                                <td class="text-center"> <i class="flaticon-cart-bag-1"></i> </td>
                                                <td class="align-center">
                                                    <ul class="table-controls">
                                                        <li>
                                                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Edit">
                                                                <i class="flaticon-edit"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Delete">
                                                                <i class="flaticon-delete-5"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>0011</td>
                                                <td class="text-center">
                                                <a class="product-list-img" href="javascript: void(0);"><img src="assets/img/60x60.jpg" alt="product"></a></td>
                                                <td>Flower Pot</td>
                                                <td>Simple Product</td>
                                                <td>Decor</td>
                                                <td>ITEM-0002</td>
                                                <td>$149.00</td>
                                                <td>64,000</td>
                                                <td class="text-center"> <i class="flaticon-cart-bag"></i> </td>
                                                <td class="align-center">
                                                    <ul class="table-controls">
                                                        <li>
                                                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Edit">
                                                                <i class="flaticon-edit"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Delete">
                                                                <i class="flaticon-delete-5"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>0012</td>
                                                <td class="text-center">
                                                <a class="product-list-img" href="javascript: void(0);"><img src="assets/img/60x60.jpg" alt="product"></a></td>
                                                <td>Chair</td>
                                                <td>Simple Product</td>
                                                <td>Furniture</td>
                                                <td>ITEM-0003</td>
                                                <td>$49.00</td>
                                                <td>42,000</td>
                                                <td class="text-center"> <i class="flaticon-cart-bag-1"></i> </td>
                                                <td class="align-center">
                                                    <ul class="table-controls">
                                                        <li>
                                                            <a href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Edit">
                                                                <i class="flaticon-edit"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Delete">
                                                                <i class="flaticon-delete-5"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>0013</td>
                                                <td class="text-center">
                                                <a class="product-list-img" href="javascript: void(0);"><img src="assets/img/60x60.jpg" alt="product"></a></td>
                                                <td>Night Lamp</td>
                                                <td>Simple Product</td>
                                                <td>Decor</td>
                                                <td>ITEM-0004</td>
                                                <td>$79.00</td>
                                                <td>51,000</td>
                                                <td class="text-center"> <i class="flaticon-cart-bag-1"></i> </td>
                                                <td class="align-center">
                                                    <ul class="table-controls">
                                                        <li>
                                                            <a href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Edit">
                                                                <i class="flaticon-edit"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Delete">
                                                                <i class="flaticon-delete-5"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>0014</td>
                                                <td class="text-center">
                                                <a class="product-list-img" href="javascript: void(0);"><img src="assets/img/60x60.jpg" alt="product"></a></td>
                                                <td>Wall Clock</td>
                                                <td>Simple Product</td>
                                                <td>Electronics</td>
                                                <td>ITEM-0005</td>
                                                <td>$120.00</td>
                                                <td>80,000</td>
                                                <td class="text-center"> <i class="flaticon-cart-bag"></i> </td>
                                                <td class="align-center">
                                                    <ul class="table-controls">
                                                        <li>
                                                            <a href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Edit">
                                                                <i class="flaticon-edit"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Delete">
                                                                <i class="flaticon-delete-5"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>0015</td>
                                                <td class="text-center">
                                                <a class="product-list-img" href="javascript: void(0);"><img src="assets/img/60x60.jpg" alt="product"></a></td>
                                                <td>Canon 1300B</td>
                                                <td>Simple Product</td>
                                                <td>Electronics</td>
                                                <td>ITEM-0006</td>
                                                <td>$149.00</td>
                                                <td>64,000</td>
                                                <td class="text-center"> <i class="flaticon-cart-bag"></i> </td>
                                                <td class="align-center">
                                                    <ul class="table-controls">
                                                        <li>
                                                            <a href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Edit">
                                                                <i class="flaticon-edit"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Delete">
                                                                <i class="flaticon-delete-5"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>0016</td>
                                                <td class="text-center">
                                                <a class="product-list-img" href="javascript: void(0);"><img src="assets/img/60x60.jpg" alt="product"></a></td>
                                                <td>Leather Bag</td>
                                                <td>Simple Product</td>
                                                <td>Accessories</td>
                                                <td>ITEM-0007</td>
                                                <td>$49.00</td>
                                                <td>42,000</td>
                                                <td class="text-center"> <i class="flaticon-cart-bag-1"></i> </td>
                                                <td class="align-center">
                                                    <ul class="table-controls">
                                                        <li>
                                                            <a href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Edit">
                                                                <i class="flaticon-edit"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Delete">
                                                                <i class="flaticon-delete-5"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>0017</td>
                                                <td class="text-center">
                                                <a class="product-list-img" href="javascript: void(0);"><img src="assets/img/60x60.jpg" alt="product"></a></td>
                                                <td>Adidas Cap</td>
                                                <td>Simple Product</td>
                                                <td>Accessories</td>
                                                <td>ITEM-0008</td>
                                                <td>$79.00</td>
                                                <td>51,000</td>
                                                <td class="text-center"> <i class="flaticon-cart-bag-1"></i> </td>
                                                <td class="align-center">
                                                    <ul class="table-controls">
                                                        <li>
                                                            <a href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Edit">
                                                                <i class="flaticon-edit"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Delete">
                                                                <i class="flaticon-delete-5"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>0018</td>
                                                <td class="text-center">
                                                <a class="product-list-img" href="javascript: void(0);"><img src="assets/img/60x60.jpg" alt="product"></a></td>
                                                <td>Winter Boots</td>
                                                <td>Simple Product</td>
                                                <td>Footwear</td>
                                                <td>ITEM-0009</td>
                                                <td>$120.00</td>
                                                <td>80,000</td>
                                                <td class="text-center"> <i class="flaticon-cart-bag"></i> </td>
                                                <td class="align-center">
                                                    <ul class="table-controls">
                                                        <li>
                                                            <a href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Edit">
                                                                <i class="flaticon-edit"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Delete">
                                                                <i class="flaticon-delete-5"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>0019</td>
                                                <td class="text-center">
                                                <a class="product-list-img" href="javascript: void(0);"><img src="assets/img/60x60.jpg" alt="product"></a></td>
                                                <td>Hover Board</td>
                                                <td>Simple Product</td>
                                                <td>Sports</td>
                                                <td>ITEM-0010</td>
                                                <td>$149.00</td>
                                                <td>64,000</td>
                                                <td class="align-center"> <i class="flaticon-cart-bag"></i> </td>
                                                <td class="align-center">
                                                    <ul class="table-controls">
                                                        <li>
                                                            <a href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Edit">
                                                                <i class="flaticon-edit"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Delete">
                                                                <i class="flaticon-delete-5"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  <!--  END CONTENT PART  -->

</div>