<div class="mt-4">
    <div class="row background">
        <div class="col-xl-8 modal-description mt-5">
            <h2>Description</h2>
            <p>This is the description of login page, this describe the top up feature of website</p>
        </div>
        <div class="col-xl-4 mt-5">
            <form action="" method="POST">
                <div class="mb-3 form-group">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="mb-3 form-group">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Enter password">
                </div>
                <button type="submit" class="btn btn-outline-success text-light">Submit</button>
            </form>
        </div>
    </div>
</div>